* {
  padding: 0%;
  margin: 0;
  box-sizing:border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif
}
a.active_class{
 color:"tomato";
 border-bottom: 3px solid blue;
 background-color: rgba(128, 128, 128, 0.438);
}